@font-face {
    font-family: nssans;
    src: url("../font/nssans.woff"),
    url("../font/nssans.ttf");
}

@font-face{
    font-family: nssansbold;
    src: url("../font/nssansbold.ttf");
}

:root {
    --primary-color: #FFB310;
    --secondary-color: #003082;
    --accent-color: #0079d3;
    --background-color:rgba(10,10,10,0.08);
    --button-height: 3.5em;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: nssans,Segoe UI,Myriad,Verdana,sans-serif;
    transition: all .5s;
}

main {
    display: flex;
    flex-wrap: wrap;
}

h1, h2, h3, h4{
    color:var(--secondary-color);
}

h1 {
    color: var(--secondary-color);
    font-size: 1.5em;
    font-family: nssans_bold,Segoe UI,Myriad,Verdana,sans-serif;
}

a {
    text-decoration: none;
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

button {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
    background-color: var(--accent-color);
    color:white;
    height: var(--button-height);
    width: 11em;
    border: none;
    margin-top: 2rem;
}

button:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

button[name="annuleren"]{
    color:var(--accent-color);
    background-color:transparent;
    margin-right:1rem;
}

/*******************************************Header***************************/


/*navigatie*/

header ul {
    background-color: var(--primary-color);
    height: 2.5rem;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: wrap;
    list-style: none;
    padding: 0 2em;
}


/*de iconen heeft de 50% hoogte van de ul (logo,search en aanmelden)*/

header li {
    height: 50%;
}


/*zorgt dat de logo aan de linker kant van de nav komt*/

header > ul li:first-child {
    margin-right: auto;
}


/*margin tussen login en search*/

header > ul li:nth-child(2) {
    margin-right: 2em;
}

header section article{
    padding:0;
    margin:0;;
}

header section {
    position: relative;
}


/*overlay over de image. bron: http://stackoverflow.com/questions/23935758/gradient-over-img-tag-using-css*/

header section:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 99.7%;
    background-color: rgba(255, 179, 16, 0.25);
}


/*h1 centreren op basis van de image*/

header h1 {
    position: absolute;
    text-align: center;
    width: 100%;
    top: 35%;
    color: white;
    z-index: 2;
    font-size: 3em;
    font-weight: 400;
}


/*de lijn tussen de main nav en uitlicht is verborgen*/

header section a {
    background-color:var(--primary-color);
}

header nav ul li:first-child{
    border-bottom:var(--accent-color) solid 0.3rem;

}


/*uitgelicht afbeelding*/

header img {
    width: 100%;
    height: 40vh;
    object-fit: cover;
    margin: 0;
    padding: 0;
}


/*zorgt dat de plaatje in de container past*/

header ul img {
    height: 100%;
    width: initial;
}


/*main navigatie*/

nav ul {
    padding: 0;
    box-shadow:0 2px 4px rgba(0, 0, 0, 0.26);
}


/*li neemt vult alle ruimte van ul*/

nav ul li {
    height: 100%;
    line-height: 2.5em;
    text-align: center;
    width: 25%;
    /*elk menu krijgt 25% van de breedte*/
}


/*zorgt dat link de hele li vult*/

nav ul li a {
    display: block;
    width: 100%;
    height: 100%;
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

nav ul li a:hover{
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}


/****************************main overzicht*********************************/

.overzicht {
    justify-content: center;
    background-color:rgba(0, 0, 0, 0.07);
}


/*formaat van de section in overzicht*/

.overzicht article {
    width: 22em;
    height: 16em;
    margin: 1rem;
    background-color:white;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

/*zorgt dat de link de hele ruimte van de sectin in beslag neemt*/

.overzicht a {
    display: block;
    position:relative;
    width: 100%;
    height: 100%;
    padding-bottom: 1.5em;
    overflow: hidden;
}


/*plaatje in de link neemt maar een gedeelte van de ruimte in beslag*/

.overzicht article a img {
    width: 100%;
    height: 60%;
    object-fit: cover;
}

.overzicht article a img[src$="bookmark.svg"]{
    position:absolute;
    left:1em;
    top:0;
    width:2.5em;
    height:auto;
    margin:0;
    z-index:1;
}

.overzicht article h2 {
    margin: 0.5rem 1rem;
    color: var(--secondary-color);
}

.overzicht article p {
    margin: 0 1rem;
    color: black;
}


/*voegt ... toe aan de html (achter de p)*/

.overzicht article p::after {
    content: " ..."
}


/*filter button*/

.overzicht >button {
    height: 5em;
    width: 5em;
    background-color: var(--accent-color);
    position: fixed;
    right: 1rem;
    bottom: 1rem;
    border-radius: 50%;
}

.overzicht button img {
    height: 80%;
    border-radius:50%;
}

/************************************Filter****************************************/
.filter{
    position:fixed;
    display:none;
    flex-wrap:wrap;
    justify-content:space-between;
    width:100%;
    max-width:28.25em;
    padding:2rem;
    background-color:white;
    z-index:3;
    top:20vh;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.filter h2{
    font-size:2em;
}

.filter label{
    font-size:1.3em;
    color:var(--secondary-color);
}

.genre{
    display:flex;
    flex-wrap:wrap;
    margin-top:2rem;
}

.genre input[type=checkbox]{
    display: none;
}

.genre input[type=checkbox]:checked + label{
    background-color:var(--primary-color);

}


.genre label{
    border:solid 1px var(--primary-color);
    width:auto;
    margin:0.1em;
    padding:0.4em 1.5em;
}

.duur, .datum{
    display:flex;
    width:100%;
    margin-top:2rem;
}

.duur input, .datum input{
    width:50%;
    margin-left:auto;
}




/*********************************** Registreren************************************/

.aanmelden{
    display:flex;
    justify-content:center;
    align-items:center;
    height:100%;
    width:100vw;
    min-height:100vh; /*wanneer de scherm groter is dan de form, zorgt dan dat de het aanmeld section de hele scherm vult*/
    padding: 5%;
    background-color: var(--background-color);
    color:var(--secondary-color);
}
.aanmelden form {
    color: var(--secondary-color);
    background-color:white;
    height:10%;
    padding:2rem;
    width:100%;
    max-width: 30em;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.aanmelden form input {
    display: block;
    width: 100%;
    height: 3.5em;
    border: none;
    margin: 0.7em 0 2.2em 0;
    padding-left: 1em;
    border:solid 1px var(--background-color);
}

.aanmelden form input:focus {
    outline: none;
    
}

.aanmelden form button {
    background-color: var(--accent-color);
    height: var(--button-height);
    width: 11em;
    border: none;
    color: white;
    margin-top: 1em;
}

.aanmelden fieldset {
    border: none;
}

.aanmelden legend {
    font-family:nssansbold;
    font-size:1.7em;
    margin-bottom: 1.7rem;
}

.aanmelden form button[name="annuleren"]{
    color:var(--accent-color);
    background-color:transparent;
    margin-right:1rem;
}

/*instructie sectie van aamelden*/
.instructie{
    width:30em; /*zelfde als form van registreren*/
    height:37.438em; /*599px zelfde hoogte als aanmeld form*/
    display:none;
    }

    .instructie img{
    height:100%;
    width:100%;
    object-fit:cover;
    }


/*********************************************Detail pagina*****************************/

span+p::first-letter {
    color: var(--secondary-color);
    font-size: 4em;
    float: left;
    margin: 0.25em 0.1em 0.12em 0;
}

/*article {
    padding: 2em;
    max-width: 43em;
}
*/

.storie_main_container {
    display: flex;
    justify-content: center;
}

.storie {
    display: flex;
    flex-wrap: wrap;
}


/**********************************************Media queries*******************************/

@media (max-width:19.999em) {
    /*uitgelicht sectie word verwijderd*/
    header section {
        display: none;
    }
    /*zorgt dat de hoofd nav onder elkaar komt*/
    nav ul li {
        width: 100%;
    }
    /*zorg dat de menu en overzicht niet overllappen*/
    .overzicht {
        margin-top: 7.5rem;
        font-size:80%;
    }
}


/*Als de tekst van de detail pagina niet meer leesbaar word*/

@media (min-width:33.250em) {
    .body_bigger_than_mobile {
        background-color: #e8e8e8;
    }

    /*pas als ik aan de detail tekst ga werken
    article {
        background-color: white;
        padding: 4.5em;
    }

    */

    /*uitgelicht sectie (header van de homepage)*/
    .uitgelicht span {
        margin-bottom: 1.5rem;
    }

    .uitgelicht p {
        font-size: 1.4em;
        padding: 1.5rem;
        max-width: 25em;
    }

    /*artikelen worden breder zodat deze gebruiken kan maken van de
        extra ruimte*/
    .overzicht article{
        height:12em;
        width:32em;
        display:inline-block;
    }

    .overzicht article a{
        padding-bottom:0;
    }

    /*afbeelding komt aan de linker kant*/
    .overzicht article a img{;
        float:left;
        height:100%;
        width:9em;/*a4 verhouding*/
        margin-right:1em;
    }

}

@media (min-width:49em) {
    .body_bigger_than_mobile {
        background-color: #e8e8e8;
    }

    /*pas als ik aan de detal tekst ga werken
    article {
        background-color: white;
        padding: 4.5em;
    }

    */

 /*zorgt dat de artikelen klein worden zodat ze naast elkaar kunnnen*/
    .overzicht article{
        height:12em;
        width:22.5em;
        display:inline-block;
    }
    
    /*toon de instructie van registreren*/
    .instructie{
        display:block;
    }
}

